.course-page-head{
    text-align: center;
    padding-top: 30px;
}
.coursee-table{
    width: 100%;
    padding: 0;
    font-size: 11px;
    margin: 40px;
}

.coursee-table thead,.course-table tbody{
    font-size: 15px;
}

.outer-container-incharge {
  background-image: url('../../Asserts/bg1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240vh;
  color: white;
}