/* Login.css */

.login-card {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #ffffff;
    color: black;
  }
  
  .login-h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .login-form-control {
    padding: 0.8rem;
    border-radius: 10px;
    /* margin-bottom: 1rem; */
    width: 100%;
  }
  
  /* Button styling */
 
  
  /* Eye Icon styling */
  .login-eye-icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Forgot Password link */
  .login-text-center a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  /* Container for centering the form */
  .login-container {
    padding: 2% 9%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .toast {
    background:white; /* ✅ Remove quotes */
    color: black;
    width: 400px !important;
    position: absolute; /* ✅ Ensure correct positioning */
  }
  .login-page-outer{
    display: flex;
  }
  .logo-container{
    /* background-color: aliceblue; */
    padding: 2%;
    margin: 3%;
    width: 50%;
    border-radius: 90px;
    background-color: white;
  }
  .logo-container img{
    margin-top: 20%;
    width: 450px;
    height: 350px;
    /* opacity: 0.9; */
    border-radius: 80%;
    background-color: white;
  }

  .text-container {
    position: absolute;
    top:190px;
    background-color: white;
    color: black;
    border-radius: 15px;
    left:200px;
    height: 60px; /* Adjust based on text size */
    width: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .text-box {
    position: absolute;
    border:2px solid black;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    animation: moveUp 3s linear infinite;
  }
  .round1{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    border:2px solid black;
    top:290px;
    left:430px;
    width: 3%;
    height:2%;
  }
  .round2{
    background-color: white;
    border:2px solid black;
    border-radius: 50%;
    position: absolute;
    top:325px;
    left:400px;
    width: 3%;
    height:2%;
  }
  
  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }